.wrapper {
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
}

.image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.button {
  color: #525252;
  background: none;
  border: none;
  cursor: pointer;
}
