.wrapper {
  width: 600px;
  background-color: #f2f3f0;
  padding: 5px 25px;
  position: fixed;
  right: 0;
  height: 100vh;
  z-index: 3;
}

@media (max-width: 480px) {
  .wrapper {
    width: 100vw;
  }
}

.select {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #dedfdb;
  margin-top: 10px;
}

.header {
  display: flex;
  flex-direction: column;
}

.header-desc {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 12px;
  color: #a2a2a1;
}

.open {
  opacity: 1;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  overflow: hidden;
}

.close {
  opacity: 0;
  position: absolute;
}

.button {
  border-radius: 50%;
  border: 1px solid #d7dbd8;
  padding: 6px 10px;
  cursor: pointer;
  margin: 1px;
  text-align: center;
}

.button:focus {
  outline: 1px solid blue;
}

.subTotal {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
