.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100vw;
  max-width: 1400px;
  color: #2c2e2b;
}

@media (max-width: 480px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.header p {
  color: #464845;
}

.loading-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
